awscli==1.6.2
backports-abc==0.5
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.7.0.1
bcdoc==0.12.2
bleach==3.1.5
boto==2.33.0
botocore==0.73.0
certifi==2015.4.28
colorama==0.2.5
configparser==4.0.2
cycler==0.10.0
decorator==4.0.9
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
enum34==1.1.10
functools32==3.2.3.post2
genson==0.1.0
GraphLab-Create==2.1
GraphLab-Create-License @ https://get.graphlab.com/GraphLab-Create/2.1/sadrnezhaad@ce.sharif.edu/138D-5B50-E111-25FF-AA35-CB81-6658-D445/GraphLab-Create-License.tar.gz
ipaddress==1.0.23
ipykernel==4.10.1
ipython==5.10.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
Jinja2==2.11.2
jmespath==0.5.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==5.2.0
jupyter-core==4.6.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.5
mistune==0.8.4
multipledispatch==0.6.0
nbconvert==5.6.1
nbformat==4.4.0
notebook==5.7.9
numpy==1.16.6
packaging==20.4
pandocfilters==1.4.2
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
prettytable==0.7.2
prometheus-client==0.8.0
prompt-toolkit==1.0.18
psclient==2.0
ptyprocess==0.6.0
pyasn1==0.4.8
Pygments==2.5.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
requests==2.9.1
rsa==3.1.2
scandir==1.10.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
sseclient==0.0.8
subprocess32==3.5.4
terminado==0.8.3
testpath==0.4.4
tornado==4.3
traitlets==4.3.3
wcwidth==0.2.4
webencodings==0.5.1
widgetsnbextension==3.5.1
